
*.user
*.lock
*.lock.json
.vs/
_ReSharper*
*.suo
*.VC.db
*.vshost.exe
*.manifest
*.sdf
[Bb]in/
obj/
Cache/
LibreRally/Resources/BeamNG Vehicles/
!LibreRally/Resources/BeamNG Vehicles/
!LibreRally/Resources/BeamNG Vehicles/basic_car/
!LibreRally/Resources/BeamNG Vehicles/basic_car/**
!LibreRally.Windows/app.manifest
